<%= form_for(@session, html:{class: 'form-horizontal'}) do |f| %>
  <%= render 'shared/errors', object: @session %>

  <%= bootstrap_form_field(f, :name) do %>
    <%= f.text_field :name, autofocus: true, class: "form-control" %>
  <% end %>

  <%= bootstrap_form_field(f, :password) do %>
    <%= f.password_field :password, class: "form-control" %>
  <% end %>

  <p>
    <%= f.submit class: 'btn btn-primary', value: 'Login' %>
  </p>
  <p>
    New to the Library? <%= link_to 'Sign up now', new_user_path %>
  </p>
<% end %>