<%= form_for([ @author ], html:{class:'form-horizontal'} ) do |f| %>
  <%= render 'shared/errors', object: @author %>

  <%= bootstrap_form_field(f, :name) do %>
    <%= f.text_field :name, autofocus: true, class: "form-control" %>
  <% end %>

  <%= bootstrap_form_field(f, "Date of Birth") do %>
    <%= f.date_select :dob,
                      { start_year: 1875, end_year: Time.now.year - 15, prompt: true, order: [ :month, :day, :year ] },
                      { class: "form-control date-select" } %>
  <% end %>

  <%= bootstrap_form_field(f, :nationality) do %>
    <%= f.text_field :nationality, class: "form-control" %>
  <% end %>

  <%= bootstrap_form_field(f, :awards) do %>
    <%= f.text_area :awards, rows: 3, class: "form-control" %>
  <% end %>

  <%= bootstrap_form_field(f, :biography) do %>
    <%= f.text_area :biography, rows: 10, class: "form-control" %>
  <% end %>

  <%= bootstrap_form_field(f, :image_url) do %>
    <%= f.text_field :image_url, class: "form-control" %>
  <% end %>

  <div class="actions">
    <%= f.submit %> <%= link_to 'Cancel', @author, class: 'btn btn-link' %>
  </div>
<% end %>
