<article class="author">
  <header class="row">
    <h2 class="text-primary"><%= @author.name %></h2>
    <aside class="author-cover">
      <div class="col-sm-4">
      <%= image_tag(@author.image_url) %>
      </div>
      <div class="col-sm-8"><%= @author.biography %></div>
    </aside>
  </header>
  <section>
    <header><h4 class="text-primary">Details</h4></header>
    

    <p>
      <label>Date of Birth:</label>
      <%= @author.dob.strftime('%B %d, %Y') if @author.dob %>
    </p>
    <p>
      <label>Nationality:</label>
      <%= @author.nationality %>
    </p>
    <p>
      <label>Awards:</label>
      <%= @author.awards %>
    </p>
    <% if session[:admin] %>
  <nav id="book-show-buttons">
    <%= link_to 'Edit', edit_author_path(@author), class: 'btn btn-default' %>
    </span>
  </nav>
<% end %>
  </section>
  <section>
    <header><h4 class="text-primary">Publications</h4></header>
    <div id="books">
      <% @author.books.each do |book| %>
        <div class="row well">
          <div class="col-sm-3">
            <%= link_to(book) do %>
            <%= image_tag(book.image_cover_url) %>
            <% end %>
          </div>
          <div class="col-sm-9">
            <h3><%= link_to(book.title, book) %> <small>by <%= book.author.name %></small></h3>
            <p>
            </p>
          </div>
        </div>
      <% end %>
      </div>
  </section>
</article>