<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @author.name %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @author.dob %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @author.nationality %>
</p>

<p>
  <strong>Awards:</strong>
  <%= @author.awards %>
</p>

<p>
  <strong>Biography:</strong>
  <%= @author.biography %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @author.image_url %>
</p>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
