<%= form_for([ @book ], html:{class:'form-horizontal'} ) do |f| %>
  <%= render 'shared/errors', object: @book %>

  <%= bootstrap_form_field(f, :title) do %>
    <%= f.text_field :title, autofocus: true, class: "form-control" %>
  <% end %>

  <%= bootstrap_form_field(f, :author_id) do %>
    <%= f.select :author_id, options_from_collection_for_select(@author, 'id', 'name', @book.author ? @book.author.id : '' ), { prompt: "Choose an Author" }, { class: "form-control" } %>
  <% end %>

  <%= bootstrap_form_field(f, :isbn) do %>
    <%= f.text_field :isbn, class: "form-control" %>
  <% end %>

  <%= bootstrap_form_field(f, :abstract) do %>
    <%= f.text_area :abstract, rows: 10, placeholder: 'Add the book abstract...', class: "form-control" %>
  <% end %>

  <%= bootstrap_form_field(f, :pages) do %>
    <%= f.text_field :pages, class: "form-control" %>
  <% end %> 

  <%= bootstrap_form_field(f, :total_in_library) do %>
    <%= f.text_field :total_in_library, :min => 1, class: "form-control" %>
  <% end %>

  <%= bootstrap_form_field(f, :genre) do %>
    <%= f.select :genre, Book::GENRES, { prompt: "Choose a Genre" }, { class: "form-control" } %>
  <% end %>

  <%= bootstrap_form_field(f, :published_on) do %>
    <%= f.date_select :published_on,
                      { start_year: 1950, prompt: true, order: [ :month, :day, :year ] },
                      { class: "form-control date-select" } %>
  <% end %>

  <%= bootstrap_form_field(f, :image_cover_url) do %>
    <%= f.text_field :image_cover_url, class: "form-control" %>
  <% end %>

  <div class="actions">
    <%= f.submit %> <%= link_to 'Cancel', @book, class: 'btn btn-link' %>
  </div>
<% end %>
