<article class="book">
  <header class="row">
    <h2 class="text-primary"><%= @book.title %></h2>
    <aside class="book-cover">
      <%= image_tag(@book.image_cover_url, size: "130x190", alt: @book.title) %>
    </aside>
    <p><%= @book.abstract %></p>
  </header>
  <section>
    <header><h4 class="text-primary">Details</h4></header>
    <p>
      <label>ISBN:</label>
      <%= @book.isbn %>
    </p>
    <p>
      <label>Author:</label>
      <%= @book.author.name %>
    </p>
    <p>
      <label>Genre:</label>
      <%= @book.genre %>
    </p>
    <p>
      <label>Pages:</label>
      <%= number_with_delimiter(@book.pages) %>
    </p>
    <p>
      <label>Published On:</label>
      <%= @book.published_on.strftime('%B %d, %Y') if @book.published_on %>
    </p>
    <p>
      <label>Available to Reserve:</label>
      <%= @book.total_in_library %>
    </p>
  </section>
  <% if @reservation.any? %>
    <span class = "label label-default">You already have this book checked out.</span>
    <% if session[:admin] %>
      <nav id="book-show-buttons">
        <%= link_to 'Edit', edit_book_path, class: 'btn btn-default' %>
      </nav>
    <% end %>
  <% else %>
      <nav id="book-show-buttons">
        <% if session[:admin] %>
          <%= link_to 'Edit', edit_book_path, class: 'btn btn-default' %>
          <% if ! @reservation.any? %>
            <%= link_to 'Delete ' + @book.title, 
              book_path(@book),
              method: :delete, 
              data: { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure you want to delete the book ' + @book.title + '?')) },
              class: 'btn btn-danger' %>
          <% end %>
        <% end %>
        <%= link_to 'Reserve ', 
          user_book_reservations_path(session[:user_id], @book.id),
          method: :post, 
          class: 'btn btn-default' %>
      </nav>
  <% end %>

</article>