<article class="book">
  <header>
    <h2 class="text-primary"><%= @book.title %></h2>
    <aside class="book-cover">
      <div class="col-sm-4">
      <%= image_tag @book.image_cover_url, :class => 'img-responsive' %>
      </div>
      <div class="col-sm-8"><%= @book.abstract %></div>
    </aside>
  </header>
  <section>
    <header><h4 class="text-primary">Details</h4></header>
    <p>
      <label>ISBN:</label>
      <%= @book.isbn %>
    </p>
    <p>
      <label>Author:</label>
      <%= @book.author.name %>
    </p>
    <p>
      <label>Genre:</label>
      <%= @book.genre %>
    </p>
    <p>
      <label>Pages:</label>
      <%= number_with_delimiter(@book.pages) %>
    </p>
    <p>
      <label>Published On:</label>
      <%= @book.published_on.strftime('%B %d, %Y') if @book.published_on %>
    </p>
    <p>
      <label>Available to Reserve:</label>
      <%= @book.total_in_library %>
    </p>
  </section>

  <nav id="book-show-buttons">
    <%= link_to 'Reserve', new_reservation_path, class: 'btn btn-default' %>
    </span>
  </nav>

</article>